@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.container1 {
	width: 100%;
	margin: auto;
	background-color: white;
	padding: 2px;
}

div.container2 {
	width: 100%;
	margin: auto;
	padding: 2px;
	background-color: white;
}

div.container4 {
		width: 100%;
	margin: auto;
	background-color: white;
	padding: 2px;
	
}

div.container5 {
		width: 100%;
	margin: auto;
	background-color: green;
	padding: 2px;
}

.headerbackground {
	background-image: url("../images/bg-1.jpg");
	background-repeat: no-repeat;
	width: 100vw;
	height: 50vw;
	position: fixed;
	top: 0;
	z-index: -3;
}

.contactbackground {
	background-image: url("../images/bg-3.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
	position: absolute;
	z-index: -5;
	top: 4300px;
}

.servicesbackground {
	background-image: url(".../images/bg-2.jpg");
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	position: absolute;
	z-index: -1;
	top: 2000px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 650px;
	z-index: 2;
	
	/*
	background: url("../images/bg-1.jpg") no-repeat center;
	background-size: cover;
	*/
}

menu {
	background-color: #3d3e41;
}

header menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	overflow-x: hidden;
	margin-top: 75px;
	width: 100vw;
}

h2 {
	text-shadow: 2px 2px #333;
	font-size: 36px;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

button {
	transition: all 0.3s ease;
}
button:hover, .active {
	filter: brightness(150%);
}

button:hover {
	cursor: pointer;
}

button#slider {
	position: fixed;
	width: 39px;
	height: 39px;
	background: url("../images/top.png") no-repeat center;
	background-size: contain;
	bottom: 80px;;
	right: 20px;
}

header button {
	height: 50px;
	color: #FFFFFF;
	font-size: 25px;
	background-color: #3d3e41;
	border: 1px solid #FFFF;
	margin-left: 15px;
	width: 100%;
	text-align: center;
}

header i {
	position: fixed;
	font-size: 60px;
	color: #FFFEFA;
}

i:hover {
	cursor: pointer;
}

i#accordian {
	display: flex;
}

div.titleblock {
	margin: auto;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

}

div.titleblock h1 {
	font-size: 70px;
	text-shadow: 2px 2px #000;
	margin-bottom: 0px;
}

div.titleblock h2 {
	font-size: 25px;
	text-shadow: 1px 1px #333;
	margin-top: 0px;
}

.slideup,
.slidedown {
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
	-moz-transition: max-height 0.6s ease-in-out;
	transition: max-height 0.6s ease-in-out;
}

.slidedown {
	max-height: 300px;
}

div.row1 {
	margin: auto;
	margin-top: 75px;
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
	max-width: 360px;
	background-color: white;
}

div.column {
	display: grid;
	justify-items: center;
	align-items: start;
	text-align: left;
}

div.column button {
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 30px;
	width: 170px;
	height: 40px;
	color: #FFFF;
	transition: all 0.3s ease;
	text-align: center;
	line-height: 18px;
}

div.column button:hover {
	cursor: pointer;
}

div.column button.greenbutton {
	background-color: #178A27;
}

div.column button.lightbluebutton {
	background-color: #1686C1;
}

div.column button.redbutton {
	background-color: #852406;
}

div.row1 div.column p,
div.row1 div.column h2 {
	margin-left: 20px;
	text-align: left;
}

div.row2 {
	display: grid;
	grid-template: 1fr 1fr/1fr;
	justify-items: center;
	align-items: start;
	margin-top: 25px;
	grid-column-gap: 15px;
}

div.row2 div.column button,
div.row4 div.column button {
	color: #ccc;
}

div.row4,
div.row5 {
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-gap: 15px;
	width: 90%;
	max-width: 1130px;
	height: auto;
}

div.row3,
div.row6 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	margin-top: 25px;
	height: auto;
	width: 100%;
}

div.row3 {
	/*
	background: url("../images/bg-2.jpg") no-repeat fixed center;
	background-size: cover;
	*/
}

div.row6 {
	/*
	background: url("../images/bg-3.jpg") no-repeat fixed center;
	background-size: cover;
	*/
	background-color: none;
	height: 700px;
	z-index: 4;
}

div.row6 h2 {
	margin-top: 200px;
	color: #FFFFFF;
	text-transform: capitalize;

}

div.row3 h2,
div.row3 p {
	color: #FFFFFF;
}

div.row3 p {
	text-align: center;
	max-width: 600px;
}

div.row4 {
	display: grid;
	grid-template: repeat(4, 1fr)/1fr;
	grid-auto-rows: auto;
	height: auto;
}

div.row4 div.column h2 {
	text-align: center;
	color: #666666;
}

div.row4 div.column p {
	text-align: left;
	margin-left: 15px;
	color: #666666;
}

div.row5 {
	grid-template: 1fr/1fr;
	grid-auto-rows: auto;
	height: auto;
	width: auto;
}

footer {
	margin: auto;
	width: 100%;
	text-align: center;
	height: 500px;
	/*background-color: #FFFFFF;*/
	color: #ccc;
}

footer h2 {
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 30px;
	text-shadow: 2px 2px #333;
	font-size: 36px;
}

form {
	display: grid;
	grid-template: repeat(8, 1fr)/1fr;
	grid-gap: 15px;
	grid-auto-rows: auto;
	max-width: 600px;
	height: 300px;
	grid-template-areas: "messagebox"
		"messagebox"
		"messagebox"
		"inputbox"
		"inputbox"
		"textbox"
		"textbox"
		"sendbutton";
}

form div.messagebox {
	grid-area: messagebox;
}

form div.textbox {
	grid-area: textbox;
}

form div.inputbox {
	grid-area: inputbox;
}

form div.sendbutton {
	grid-area: sendbutton;
}

textarea, input {
	width: 100%;
	border-radius: 5px;
	padding-left: 10px;
	color: #000;
	background: #F2F2F2 none repeat scroll 00;
	opacity: 0.4;
}

div.textbox textarea {
	height: 25%;
}
div.messagebox textarea {
	height: 33%;
}

input {
	height: 7%;
	margin-bottom: 5px;
}

form button {
	background-color: #262628;
	color: #FFF;
	margin-top: 20px;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 18px;
	transition: all 0.5s;
}

form button:hover {
		background-color: #FFFFFF;
		color: #000000;
}

div.column button.greenbutton {
	background-color: #178A27;
}

div.column button.lightbluebutton {
	background-color: #1686C1;
}

div.column button.redbutton {
	background-color: #852406;
}

div.column h2.greenheader {
	color: #178A27;
}
div.column h2.lightblueheader {
	color: #1686C1;
}
div.column h2.greyheader {
	color: #666666;
}

@media only screen and (min-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	
	header button {
		width: 140px;
	}

	menu.navmenu {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		max-height: 75px;
		width: 100%;
		height: 100px;
		margin-top: -5px;
	}
	
		div.titleblock {
		margin: auto;
	}
	
	i#accordian {
		display: none;
	}

	div.row1 {
		grid-template: 1fr/1fr 1fr 1fr;
		max-width: 720px;
	}

	div.row2 {
		grid-template: 1fr/1fr 1fr;
	}

	div.row4 {
		grid-template: 1fr 1fr/1fr 1fr;
	}

	form {
		display: grid;
		grid-template: repeat(8, 1fr)/1fr 1fr;
		grid-template-areas: "messagebox messagebox"
			"messagebox messagebox"
			"messagebox messagebox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			". sendbutton";
	}
	
	div.textbox textarea {
	height: 45%;
}
	input {
		height: 12%;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 1024px) {
	div.row1 {
		max-width: 1100px;
	}

	div.row4 {
		grid-template: 1fr/1fr 1fr 1fr 1fr;
	}
}
