@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Open+Sans&display=swap');

html {
	overflow-x: hidden;
}

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	margin: auto;
}

section {
	width: 100%;
	margin: auto;
	height: auto;
	background-color: #FFFFFF;
	padding: 2px;
}

section:nth-child(3), section:nth-child(6){
	background-color: transparent;
}

div.container {
	width: 100%;
	margin: auto;
	height: auto;
	background-color: #FFFFFF;
	padding: 2px;
}
div.container:nth-child(3), div.container:nth-child(6) {
	background-color: transparent;
}

div.headerbackground {
	background-image: url("../images/bg-1a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 700px;
	position: absolute;
	top: auto;
	bottom: auto;
	z-index: -12;
}

div.servicesbackground {
 background-image: url("../images/bg-2a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 1000px;
	position: absolute;
	z-index: -2;
	top: auto;
	bottom: auto;
	border: 3px solid red;
}

div.contactbackground {
	background-image: url("../images/bg-3a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 850px;
	position: absolute;
	z-index: -1;
	top: 7500px;
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 700px;
	z-index: 2;
}

header menu {
	display: flex;
	position: fixed;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100vw;
	padding: 0;
	margin: 0;
	margin-top: 40px;
	background-color: #3d3e41;
}

h1 {
	font-size: 70px;
	text-shadow: 2px 2px #000;
	margin-bottom: 0px;
}
h2, h3 {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

p {
	font-family 'Roboto Condensed', Helvitica, Arial, sans-serif;
	color: #000000;
}

h3 {
	font-size: 25px;
	text-shadow: 1px 1px #333;
	text-transform: capitalize;
	margin-top: 0px;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

button {
	transition: all 0.3s ease;
	font-family: 'Roboto', Helvetica, Arial, sans-serif
}
button:hover, .active {
	filter: brightness(150%);
}

button:hover {
	cursor: pointer;
}

button#slider {
	position: fixed;
	width: 39px;
	height: 39px;
	background: url("../images/top.png") no-repeat center;
	background-size: contain;
	bottom: 80px;;
	right: 20px;
}

header button {
	height: 45px;
	color: #FFFFFF;
	font-size: 25px;
	background-color: #3d3e41;
	border: 0.5px solid rgba(255,255,255,0.3);
	margin-left: 15px;
	width: 100%;
	text-align: center;
}

header div.bars {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	height: 34px;
	width: 43px;
	border-radius: 4px;
	background-color: #3d3e41;
}

header div.bars div.bar {
	width: 60%;
	height: 2px;
	background-color: #FFFFFF;
	margin: 2px;
}

header div.bars:hover {
	cursor: pointer;
}

div.titleblock {
	margin: auto;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.slideup,
.slidedown {
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
	-moz-transition: max-height 0.6s ease-in-out;
	transition: max-height 0.6s ease-in-out;
}

.slidedown {
	max-height: 300px;
}

div.row1 {
	margin: auto;
	margin-top: 75px;
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-row-gap: 20px;
	justify-content: stretch;
	justify-items: center;
	align-items: center;
	text-align: center;
	max-width: 360px;
	background-color: #FFFFFF;
}

div.row1 div.column button {
	color: #000000;
}

div.row2 {
	margin: auto;
	display: grid;
	grid-template: 1fr 1fr/1fr;
	justify-items: center;
	align-items: start;
	grid-auto-columns: auto;
	margin-top: 25px;
	grid-column-gap: 15px;
}

div.column {
	display: grid;
	justify-items: center;
	align-items: baseline;
	text-align: center;
	margin-bottom: 40px;
}

div.column button {
	border-radius: 10px;
	font-size: 18px;
	padding: 10px 30px;
	background: #FFFFFF;
	border: 1px solid #CCC;
	color: #666666;
	transition: all 0.3s ease;
	text-align: center;
	line-height: 18px;
}

div.column button.greenbutton {
	background-color: #178A27;
	color: #FFFFFF;
}

div.column button.lightbluebutton {
	background-color: #1686C1;
	color: #FFFFFF;
}

div.column button.redbutton {
	background-color: #852406;
	color: #FFFFFF;
}

div.row4,
div.row5 {
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-auto-rows: auto;
	grid-gap: 15px;
	width: 90%;
	max-width: 1130px;
	height: auto;
}

div.row3, div.row6 {
	display: grid;
	width: 100%;
	justify-items: center;
	align-items: center;
	margin: auto;
	height: auto;
	grid-template: 1fr/1fr;
	background-color: transparent;
	margin: 0;
}

div.row6 {
	height: 600px;
}

div.row3 {
	padding-top: 50px;
	padding-bottom: 50px;
}

div.row6 h2 {
	color: #FFFFFF;
	text-transform: capitalize;
	text-shadow: 2px 2px #333;
	font-size: 36px;
	text-align: center;
}

div.row3 h2,
div.row3 p {
	color: #FFFFFF;
}

div.row3 p {
	text-align: center;
	max-width: 600px;
}

div.row4 {
	grid-template: repeat(4, 1fr)/1fr;
}

div.row4 div.column {
	grid-template-rows: 1fr 1fr;
	margin-bottom: 0;
}

div.row4 div.column h2 {
	text-align: center;
}

div.row4 div.column p {
	text-align: left;
	margin-left: 20px;
}

div.row4 div.textcontainer {
	width: 60%;
}

div.row5 {
	grid-template: 1fr/1fr;
	width: auto;
}

div.row5 div.column {
	justify-items: start;
	text-align: left;
}

div.row5 div.column div.textcontainer {
	padding-left: 30px;
}

div.row2 div.column {
		border: 3px solid red;
		width: 85%;
	}
div.row2 div.column p {
	margin-left: 20px;
	margin-right: 20px;
}

footer {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-auto-rows: auto;
	justify-items: center;
	align-items: start;
	top: auto;
	margin: auto;
	width: 100%;
	text-align: center;
	height: 260px;
	color: #ccc;
	font-style: italic;
	padding: 5px;
	background-color: #FFFFFF;
}

footer div.copyright {
	color: #666;
	font-size: 12px;
	align-self: end;
}

footer div.content p {
	font-size: 14px;
	color: #666;
	line-height: 1.6em;
}

footer div.content h2 {
	font-weight: bold;
	color: #666;
	font-size: 32px;
}

form {
	display: grid;
	grid-template: repeat(8, 1fr)/1fr;
	grid-auto-rows: auto;
	grid-gap: 30px;
	max-width: 400px;
	height: 450px;
	grid-template-areas: "messagebox"
		"messagebox"
		"messagebox"
		"inputbox"
		"inputbox"
		"textbox"
		"textbox"
		"sendbutton";
}

form div.messagebox {
	grid-area: messagebox;
}

form div.textbox {
	grid-area: textbox;
}

form div.inputbox {
	grid-area: inputbox;
}

form div.sendbutton {
	grid-area: sendbutton;
}

textarea, input {
	width: 100%;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	background: #F2F2F2 none repeat scroll 00;
	opacity: 0.4;
	font-size: 15px;
	font-weight: 500;
}

div.textbox textarea {
	height: 100%;
}
div.messagebox textarea {
	height: 100%;
}
input {
	height: 20%;
	margin-bottom: 5px;
}

form button {
	background-color: #262628;
	color: #FFF;
	margin-top: 20px;
	padding: 10px 30px;
	border-radius: 10px;
	font-size: 18px;
	transition: all 0.5s;
}

form button:hover {
		background-color: #FFFFFF;
		color: #000000;
}

div.column button.magentabutton {
	background-color: #FF00FF;
}

div.column button.cyanbutton {
	background-color: #00FFFF;
}

div.column button.yellowbutton {
	background-color: #FFFF00;
}

div.column h2.magentaheader {
	font-size: 20px;
	font-weight: 700;
	color: #FF00FF;
}
div.column h2.cyanheader {
	font-size: 20px;
	font-weight: 700;
	color: #00FFFF;
}
div.column h2.yellowheader {
	font-size: 20px;
	font-weight: 700;
	color: #FFFF00;
}
@media only screen and (min-width: 520px){
	div.row4 {
		grid-template: 1fr 1fr/1fr 1fr;
	}
	div.row4 div.textcontainer {
		width: 85%;
	}
	div.contactbackground {
		top: 6200px;
	}
	div.row2 div.column {
		width: 550px;
	}
	
}
@media only screen and (min-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	
	header button {
		width: 140px;
	}
	
	div.row6 {
		height: 500px;
	}
	
	
	div.contactbackground {
		top: 4500px;
		height: 650px;
		z-index: -1;
	}
	menu.navmenu {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		max-height: 90px;
		width: 100%;
		height: 80px;
		margin: 0;
		padding: 0;
	}
	
		div.titleblock {
		margin: auto;
	}
	
	header div.bars {
		display: none;
	}

	div.row1 {
		grid-template: 1fr/1fr 1fr 1fr;
		max-width: 720px;
	}
	
	div.row2 {
		grid-template: 1fr/1fr 1fr;
		width: 85%;
	}
	
	div.row2 div.column {
		width: auto;
	}
	
	div.row4 div.textcontainer {
		width: 60%;
	}
	
	form {
		display: grid;
		height: 300px;
		max-width: 600px;
		grid-template: repeat(8, 1fr)/1fr 1fr;
		grid-template-areas: "messagebox messagebox"
			"messagebox messagebox"
			"messagebox messagebox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			". sendbutton";
	}
	
	input {
		height: 15%;
		margin-bottom: 14px;
	}
	
	div.row1 div.column {
		justify-items: start;
		text-align: left;
	}
	
	div.row1 div.column h2, div.row1 div.column p {
		margin-left: 20px;
	}
	
	div.row1 div.column a {
		justify-self: center;
	}
	
	div.row1 div.column a {
		color: #1686C1;
		text-decoration: none;
	}

}

@media only screen and (min-width: 1024px) {
	div.row1 {
		max-width: 1100px;
	}

	div.row4 {
		grid-template: 1fr/1fr 1fr 1fr 1fr;
	}
	
	div.row4 div.textcontainer {
	width: auto;
}
	
	div.row6, div.contactbackground {
		height: 600px;
	}
	div.contactbackground {
		top: 4050px;
	}
	div.row2 {
		width: 900px;
	}
	div.row2 div.column {
		width: auto;
	}
}
