@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: 650px;
	background: url("bg-1.jpg") no-repeat fixed center;
	background-size: cover;
}

h2 {
	text-shadow: 2px 2px #333;
	font-size: 36px;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
}

header menu {
	background-color: #3d3e41;
}

button {
	transition: all 0.3s ease;
}

button:hover {
	cursor: pointer;
	filter: brightness(150%);
}

header button.navbutton {
	height: 50px;
	color: #FFFFFF;
	font-size: 25px;
	background-color: #3d3e41;
	border: 1px solid #FFFF;
	width: 140px;
	margin-left: 15px;

}


header i {
	position: fixed;
	font-size: 60px;
	color: #FFFEFA;
}

i:hover {
	cursor: pointer;
}

menu.navmenu {
	display: none;
	height: 75px;
	width: 100%;
	margin-top: -5px;
}

menu.collapsemenu {
	display: flex;
	position: absolute;
	margin-top: 75px;
	flex-direction: column;
	width: 75vw;
	overflow-x: hidden;
}

menu.collapsemenu a button {
	width: 100%;
	text-align: center;
}

i#accordian {
	display: flex;
}

div.titleblock {
	margin: auto;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

}

div.titleblock h1 {
	font-size: 70px;
	text-shadow: 2px 2px #000;
	margin-bottom: 0px;
}

div.titleblock h2 {
	font-size: 25px;
	text-shadow: 1px 1px #333;
	margin-top: 0px;
}

.slideup,
.slidedown {
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
	-moz-transition: max-height 0.6s ease-in-out;
	transition: max-height 0.6s ease-in-out;
}

.slidedown {
	max-height: 300px;
}

div.row1 {
	margin: auto;
	margin-top: 75px;
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	justify-items: center;
	align-items: center;
	max-width: 360px;
}

div.column {
	display: grid;
	justify-items: center;
	align-items: start;
	text-align: left;
}

div.column button {
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 30px;
	width: 170px;
	height: 40px;
	color: #FFFF;
	transition: all 0.3s ease;
	text-align: center;
	line-height: 18px;
}



div.column button:hover {
	cursor: pointer;
}

div.column button.greenbutton {
	background-color: #178A27;
}

div.column button.lightbluebutton {
	background-color: #1686C1;
}

div.column button.redbutton {
	background-color: #852406;
}

div.row1 div.column p,
div.row1 div.column h2 {
	margin-left: 20px;
	text-align: left;
}

div.row2 {
	display: grid;
	grid-template: 1fr 1fr/1fr;
	justify-items: center;
	align-items: start;
	margin-top: 25px;
	grid-column-gap: 15px;
}

div.row2 div.column button,
div.row4 div.column button {
	color: #ccc;
}

div.row4,
div.row5 {
	margin: auto;
	margin-top: 50px;
	display: grid;
	grid-gap: 15px;
	width: 90%;
	max-width: 1130px;
	height: auto;
}

div.row3,
div.row6 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: auto;
	margin-top: 25px;
	height: auto;
	width: 100%;
}

div.row3 {
	background: url("bg-2.jpg") no-repeat center;
	background-size: cover;
}

div.row6 {
	background: url("bg-3.jpg") no-repeat center;
	background-size: cover;
	height: 700px;
}

div.row6 h2 {
	margin-top: 200px;
	color: #FFFFFF;
	text-transform: capitalize;

}

div.row3 h2,
div.row3 p {
	color: #FFFFFF;
}

div.row3 p {
	text-align: center;
	max-width: 600px;
}

div.row4 {
	display: grid;
	grid-template: repeat(4, 1fr)/1fr;
	grid-auto-rows: auto;
	height: auto;
}

div.row4 div.column h2 {
	text-align: center;
	color: #666666;
}

div.row4 div.column p {
	text-align: left;
	margin-left: 15px;
	color: #666666;
}

div.row5 {
	grid-template: 1fr/1fr;
	grid-auto-rows: auto;
	height: auto;
	width: auto;
}

footer {
	margin: auto;
	width: 100%;
	text-align: center;
	height: 500px;
	background-color: #FFFFFF;
	color: #ccc;
}

footer h2 {
	font-weight: bold;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 30px;
	text-shadow: 2px 2px #333;
	font-size: 36px;
}

form {
	display: grid;
	grid-template: repeat(8, 1fr)/1fr;
	grid-template-areas: "messagebox"
		"messagebox"
		"messagebox"
		"textbox"
		"textbox"
		"inputbox"
		"inputbox"
		"sendbutton";
}

form div.messagebox {
	grid-area: messagebox;
}

form div.textbox {
	grid-area: textbox;
}

form div.inputbox {
	grid-area: inputbox;
}

form div.sendbutton {
	grid-area: sendbutton;
}



div.column button.greenbutton {
	background-color: #178A27;
}

div.column button.lightbluebutton {
	background-color: #1686C1;
}

div.column button.redbutton {
	background-color: #852406;
}

div.column h2.greenheader {
	color: #178A27;
}
div.column h2.lightblueheader {
	color: #1686C1;
}
div.column h2.greyheader {
	color: #666666;
}

@media only screen and (min-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}

	div.titleblock {
		margin: auto;
	}

	menu.navmenu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	menu.collapsemenu {
		display: none;
	}

	i#accordian {
		display: none;
	}

	div.row1 {
		grid-template: 1fr/1fr 1fr 1fr;
		max-width: 720px;
	}

	div.row2 {
		grid-template: 1fr/1fr 1fr;
	}

	div.row4 {
		grid-template: 1fr 1fr/1fr 1fr;
	}

	div.row6 form {
		display: grid;
		grid-template: repeat(8, 1fr)/1fr 1fr;
		width: 80%;
		max-width: 600px;
		height: 300px;
		grid-auto-rows: auto;
		border: 2px solid red;
		grid-template-areas: "messagebox messagebox"
			"messagebox messagebox"
			"messagebox messagebox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			"inputbox textbox"
			". sendbutton";
	}
}

@media only screen and (min-width: 1024px) {
	div.row1 {
		max-width: 1100px;
	}

	div.row4 {
		grid-template: 1fr/1fr 1fr 1fr 1fr;
	}
}
