@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/*
header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	background-color: #3d3e41;
	height: 75px;
	position: sticky;
}
*/
header {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	height: 650px;
	background: url("bg-1.jpg") no-repeat fixed center;
	background-size: cover;
	
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

header menu {
	background-color: #3d3e41;
}

header button.navbutton {
	height: 50px;
	color: #FFFFFF;
	font-size: 25px;
	background-color: #3d3e41;
	border: 1px solid #FFFF;
	width: 140px;
	margin-left: 15px;

}

header button.navbutton:hover {
	filter: brightness(150%);
	cursor: pointer;
}

header button.navbutton.active {
	filter: brightness(150%);
}

header i {
	position: fixed;
	font-size: 60px;
	color: #FFFEFA;
}

i:hover {
	cursor: pointer;
}

menu.navmenu {
	display: none;
	height: 75px;
	width: 100%;
	margin-top: -5px;
}

menu.collapsemenu {
	display: flex;
	position: absolute;
	margin-top: 75px;
	flex-direction: column;
	width: 75vw;
	overflow-x: hidden;
}

menu.collapsemenu a button {
	width: 100%;
	text-align: center;
}

i#accordian {
	display: flex;
}

div.titleblock {
	margin: auto;
	text-align: center;
	color: #fff;
	text-transform: uppercase;

}

div.titleblock h1 {
	font-size: 70px;
	text-shadow: 2px 2px #000;
	margin-bottom: 0px;
}

div.titleblock h2 {
	font-size: 25px;
	text-shadow: 1px 1px #333;
	margin-top: 0px;
}

.slideup,.slidedown {
	max-height: 0;
	overflow-y: hidden;
	-webkit-transition: max-height 0.6s ease-in-out;
	-moz-transition: max-height 0.6s ease-in-out;
	transition: max-height 0.6s ease-in-out;
}

.slidedown {
	max-height: 300px;
}

div.row1 {
	margin: auto;
	margin-top: 75px;
	display: grid;
	grid-template: 1fr 1fr 1fr/1fr;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	grid-auto-rows: auto;
	justify-items: center;
	align-items: center;
}

div.row2, div.row4, div.row5, div.row6 {
	margin:auto;
	margin-top: 50px;
	display: grid;
	width: 90%;
	max-width: 1130px;
	height: 400px;
	background-color: green;
}

div.row3 {
	margin:auto;
	margin-top: 25px;
	height: 200px;
	width: 100%;
	background-color: aqua;
}
div.headerimg {
	grid-area: headerimg;
}

div.textbox {
	grid-area: textbox;
}
div.columnfooter {
	grid-area: columnfooter;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.columnfooter button {
	border-radius: 5px;
	font-size: 18px;
	padding: 10px 30px;
	width: 170px;
	height: 40px;
	color: #FFFF;
	transition: all 0.3s ease;
	text-align: center;
	line-height: 18px;
}

div.columnfooter button:hover {
	cursor: pointer;
}

div.columnfooter button.greenbutton {
	background-color: #178A27;
}

div.columnfooter button.lightbluebutton {
	background-color: #1686C1;
}

div.columnfooter button.redbutton {
	background-color: #852406;
}

div.textbox h2.greenheader {
	color: #178A27;
}
div.textbox h2.lightblueheader {
	color: #1686C1;
}
div.textbox h2.greyheader {
	color: #666666;
}

@media only screen and (min-width: 768px) {
	header {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	
	div.titleblock {
		margin: auto;
	}

	menu.navmenu {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	menu.collapsemenu {
		display: none;
	}

	i#accordian {
		display: none;
	}
	
}
@media only screen and (min-width: 1024px){
	
}